<<<<<<< HEAD
<div class = "flex-container">
<%= form_tag(workshops_path, method: "get") do %>
  <h2><%= label_tag(:query_category, "Search for:") %></h2>
  <div style="display: flex, justify-content: center">
  <p class="btn btn-secondary btn-lg" ><<%= select_tag(:query_category, "<option>painting</option><option>pottery</option><option>printmaking</option><option>photography</option><<option>sculpture</option>".html_safe)%>
  <%= submit_tag(value = "Start be creative") %></p>
=======
<div class= "flex-container">
<%= form_tag(workshops_path, method: "get") do %>
<!--   <h2><%= label_tag(:query_category, "Location") %></h2> -->
  <div style="display: flex, justify-content: center">
  <p class="btn btn-secondary btn-lg" ><%= select_tag(:query_category, "<option>painting</option><option>pottery</option><option>printmaking</option><option>photography</option><<option>sculpture</option>".html_safe)%>
  <%= submit_tag(value = "Select") %></p>
>>>>>>> 18d301f40551927e242addce738adbf950af9a2d
   </div>
<% end %>
</div>




